# **Amostragem**

### Carregamento da base de dados

In [1]:
import pandas as pd
import random
import numpy as np

In [2]:
dataset = pd.read_csv('base de dados/census.csv')

In [4]:
dataset.shape

(32561, 15)

In [5]:
# Visualização dos dados
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### Amostragem aleatória simples

* Tipo mais simples de amostra, onde precisamos indicar o tamanho da amostra e os registros serão selecionados aleatoriamente.

In [9]:
# Construção da amostragem aleatória simples
# n: quantidade de elementos queremos na amostra 
# replace: por padrão é False, ou seja, não ocorre seleção do mesmo registro mais de uma vez
# random_state: será um número inteiro, e serve para obtermos sempre a mesma amostra. Caso esse parâmetro não seja definido, toda vez que rodarmos o código a amostra sofrerá alterações
df_amostra_aleatoria_simples = dataset.sample(n = 100, random_state = 1)  # selecionando 100 elementos

In [10]:
df_amostra_aleatoria_simples.shape

(100, 15)

In [11]:
df_amostra_aleatoria_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
9646,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
709,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
7385,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States,>50K
16671,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
21932,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K

In [13]:
# Função para amostragem aleatória simples
def amostragem_aleatoria_simples(dataset, amostras):
    return dataset.sample(n=amostras, random_state=1)

In [14]:
amostragem_aleatoria_simples(dataset, 100)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
9646,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
709,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
7385,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States,>50K
16671,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
21932,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27578,64,?,200017,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,20,United-States,<=50K
2544,19,?,192773,Some-college,10,Never-married,?,Own-child,White,Female,0,0,35,United-States,<=50K
2486,75,?,164849,9th,5,Married-civ-spouse,?,Husband,Black,Male,1409,0,5,United-States,<=50K
13143,28,Private,154863,Bachelors,13,Never-married,Adm-clerical,Own-child,Black,Male,0,0,35,United-States,<=50K
551,36,Self-emp-not-inc,27053,HS-grad,9,Separated,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K